body {
  background-color: #2e2e2e;
}

.flex {
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0 auto;
}
.item {
  display: flex;
  border-radius: 5px;
  max-width: 40px;
  min-height: 40px;
  margin-right: 3px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.item-big {
  background-color: #faab06;
  display: flex;
  border-radius: 5px;
  min-width: 85px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.visor {
  text-align: right;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 170px;
  border: solid 1px #000;
  box-shadow: 1px 1px 1px #000;
}
