body{
  border-radius: 10px;
}
.flex {
  max-width: 180px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0 auto;
}
.item {
  background-color: #f2f2f2;
  display: flex;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #2f2f3a;
}

.item-big {
  background-color: #faab06;
  display: flex;
  border-radius: 5px;
  min-width: 90px;
  min-height: 40px;
  margin: 3px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.visor {
  border-radius: 5px;
  border-style: none;
  height: 30px;
  width: 100%;
  font-size: 18px;
  text-align: right;
  background-color: #ccc;
}
input {
  padding: 3px 5px 3px 0px;
}
